/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
            Global
*******************************/
.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.ui.menu {
  margin: 0rem;
}

/*--------------
    Masthead
---------------*/
.error.masthead {
  position: absolute;
  margin-top: -290px;
  top: 50%;
  width: 100%;
}
.error.masthead .container {
  position: relative;
  z-index: 100;
}
.masthead {
  position: relative;
  overflow: hidden;
  background-color: #00B5AD;
  text-align: center;
  margin-top: 0px;
  padding: 50px 0px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
}

.masthead:before {
  background: #00B5AD url(../images/tile-bg.png) repeat fixed 0% 0%;
  position: absolute;
  z-index: 1;
  width: 500%;
  height: 500%;
  top: 0px;
  left: 0px;
  content: '';

  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-animation-name: masthead;
  -moz-animation-name: masthead;
  -o-animation-name: masthead;
  animation-name: masthead;

  -webkit-animation-duration: 80s;
  -moz-animation-duration: 80s;
  -ms-animation-duration: 80s;
  -o-animation-duration: 80s;
  animation-duration: 80s;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes masthead {
 0% {
    background-position: 0% 0%;
 }
 50% {
    background-position: -50% -100%;
 }
 100% {
    background-position: -100% -200%;
 }

}

@-moz-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}

@-webkit-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}

@-ms-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}

@-o-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}
.masthead .grid {
  position: relative;
  z-index: 2;
}
.masthead .column {
  display: table;
}
.introduction {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
.masthead .labeled.button {
  position: relative;
  left: 0px;
  top: 0px;
  width: auto !important;
  margin-right: 1em;
}
.masthead.segment h1 {
  font-size: 5em;
  color: #FFFFFF;
  line-height: 1.2;
  margin: -20px 0px 0px;
  padding-bottom: 0px;
}
.masthead strike {
  color: rgba(0, 0, 0, 0.2);
}
.masthead h2 {
  font-weight: normal;
  margin: -10px 0 16px 0px;
  font-size: 1.75em;
  border-bottom: none;
  line-height: 1;
}
.masthead .menu {
  width: 375px;
}
.masthead p {
  font-size: 1.5em;
  margin: 1em 0em 1.5em;
  padding: 0px;
}

/* Media queries */
@media only screen and (max-width : 780px) {
  pre.console {
    height: 150px;
  }
  .index .masthead {
    text-align: center;
    padding: 50px 0px 15px;
  }
  .index .masthead h1 {
    font-size: 3em;
  }
  .index .masthead h1 .icon {
    display: none;
  }
  .index .masthead .button {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  .index .masthead h2 {
    font-size: 1.25em;
    margin: 0em 0em 1em;
  }
  .index .masthead p {
    font-size: 1.35em;
  }
  .index .container {
    margin-left: 2em;
    margin-right: 2em;
  }
  .index .icon.header .icon {
    font-size: 3em;
  }
  .introduction {
    display: block;
  }
  #menu .hide.item {
    display: block;
  }
  #menu .item > .icon {
    font-size: 1em !important;
  }
}