/*******************************
             Global
*******************************/

html,
body {
  font-size: 15px;
}

body#bettlim {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif */;
  background: #FCFCFC url(../images/bg.png) repeat;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}
body > .content  {
  background: #FCFCFC url(../images/bg.png) repeat;
}

#bettlim.index .main.menu {
  top: 0px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif */;;
}

/*--------------
    Masthead
---------------*/
#bettlim .error.masthead {
  position: absolute;
  margin-top: -290px;
  top: 50%;
  width: 100%;
}
#bettlim .error.masthead .container {
  position: relative;
  z-index: 100;
}
#bettlim .masthead {
  position: relative;
  overflow: hidden;
  background-color: #00B5AD;
  text-align: center;
  margin-top: 38px;
  padding: 50px 0px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
}
#bettlim .masthead:before {
  background: #00B5AD url(../images/tile-bg.png) repeat fixed 0% 0%;
  position: absolute;
  z-index: 1;
  width: 500%;
  height: 500%;
  top: 0px;
  left: 0px;
  content: '';

  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-animation-name: masthead;
  -moz-animation-name: masthead;
  -o-animation-name: masthead;
  animation-name: masthead;

  -webkit-animation-duration: 80s;
  -moz-animation-duration: 80s;
  -ms-animation-duration: 80s;
  -o-animation-duration: 80s;
  animation-duration: 80s;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes masthead {
 0% {
    background-position: 0% 0%;
 }
 50% {
    background-position: -50% -100%;
 }
 100% {
    background-position: -100% -200%;
 }

}

@-moz-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}

@-webkit-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}

@-ms-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}

@-o-keyframes masthead {
 0% {
   background-position: 0% 0%;
 }
 50% {
   background-position: -50% -100%;
 }
 100% {
   background-position: -100% -200%;
 }

}
#bettlim .masthead .grid {
  position: relative;
  z-index: 2;
}
#bettlim .masthead .column {
  display: table;
}
#bettlim .introduction {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
#bettlim .masthead .labeled.button {
  position: relative;
  left: 0px;
  top: 0px;
  width: auto !important;
  margin-right: 1em;
}
#bettlim .masthead.segment h1 {
  font-size: 5em;
  color: #FFFFFF;
  line-height: 1.2;
  margin: -20px 0px 0px;
  padding-bottom: 0px;
}
#bettlim .masthead strike {
  color: rgba(0, 0, 0, 0.2);
}
#bettlim .masthead h2 {
  font-weight: normal;
  margin: -10px 0 16px 0px;
  font-size: 1.75em;
  border-bottom: none;
  line-height: 1;
}
#bettlim .masthead .menu {
  width: 375px;
}
#bettlim .masthead p {
  font-size: 1.5em;
  margin: 1em 0em 1.5em;
  padding: 0px;
}

/* Media queries */
@media only screen and (max-width : 780px) {
  pre.console {
    height: 150px;
  }
  #bettlim.index .masthead {
    text-align: center;
    padding: 50px 0px 15px;
  }
  #bettlim.index .masthead h1 {
    font-size: 3em;
  }
  #bettlim.index .masthead h1 .icon {
    display: none;
  }
  #bettlim.index .masthead .button {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
  #bettlim.index .masthead h2 {
    font-size: 1.25em;
    margin: 0em 0em 1em;
  }
  #bettlim.index .masthead p {
    font-size: 1.35em;
  }
  #bettlim.index .container {
    margin-left: 2em;
    margin-right: 2em;
  }
  #bettlim.index .icon.header .icon {
    font-size: 3em;
  }
  #bettlim .introduction {
    display: block;
  }
  #bettlim #menu .hide.item {
    display: block;
  }
  #bettlim #menu .item > .icon {
    font-size: 1em !important;
  }
}